.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  text-align: center;
}
.tablebody{
  
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px 12px rgba(0,0,0,.12);
  max-width: 90%;
}
ul{
  list-style: none;
  padding-bottom: 30px;
}
li{
  margin-top: 10px;
  display: flex;

}
li .checked{
  text-decoration: line-through;
}
.todoTitle{
  margin-right: 35px;
  width: 40%;
}
.todoDate{
  width: 35%
}
.delButton{
  margin-left: 15px;
}
.searchIcon{
  width:10%;
  height:30px;
  color: #0f0f0f;

}
.searchBar{
  margin: 30px 45px 10px 0;
  font-size:x-large ;
  padding: 0.2rem;
  width: 40%;

}
.showHideTask{
  width: 20%;
  
  margin: 40px 30px;
}

.newTodo{
  margin-left: 50px;
  margin-top: 10px;
 height: 150px;
 align-items: center;

}
.newTodo label{
  margin: 5px;
}
.newTodo input .textInput{
  width: 280px;
  height: 20px;
  
}
.newTodo input .dataInput{
  width: 150px;
  height: 20px;
}
